Architectures_n-tiers/RemotingLibrary_WebServices/IG_WebServiceAbonne/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchByISBNWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByISBNWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByISBNWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByAuthorWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auteur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByAuthorWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByAuthorWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentBookWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titreLiv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentaire" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentBookWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommentBookWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListTitre">
        <s:complexType />
      </s:element>
      <s:element name="getListTitreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListTitreResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getListComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListCommentResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchByISBNWSSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByISBNWS" />
  </wsdl:message>
  <wsdl:message name="SearchByISBNWSSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByISBNWSResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByAuthorWSSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByAuthorWS" />
  </wsdl:message>
  <wsdl:message name="SearchByAuthorWSSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByAuthorWSResponse" />
  </wsdl:message>
  <wsdl:message name="CommentBookWSSoapIn">
    <wsdl:part name="parameters" element="tns:CommentBookWS" />
  </wsdl:message>
  <wsdl:message name="CommentBookWSSoapOut">
    <wsdl:part name="parameters" element="tns:CommentBookWSResponse" />
  </wsdl:message>
  <wsdl:message name="getListTitreSoapIn">
    <wsdl:part name="parameters" element="tns:getListTitre" />
  </wsdl:message>
  <wsdl:message name="getListTitreSoapOut">
    <wsdl:part name="parameters" element="tns:getListTitreResponse" />
  </wsdl:message>
  <wsdl:message name="getListCommentSoapIn">
    <wsdl:part name="parameters" element="tns:getListComment" />
  </wsdl:message>
  <wsdl:message name="getListCommentSoapOut">
    <wsdl:part name="parameters" element="tns:getListCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SearchByISBNWS">
      <wsdl:input message="tns:SearchByISBNWSSoapIn" />
      <wsdl:output message="tns:SearchByISBNWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByAuthorWS">
      <wsdl:input message="tns:SearchByAuthorWSSoapIn" />
      <wsdl:output message="tns:SearchByAuthorWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentBookWS">
      <wsdl:input message="tns:CommentBookWSSoapIn" />
      <wsdl:output message="tns:CommentBookWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListTitre">
      <wsdl:input message="tns:getListTitreSoapIn" />
      <wsdl:output message="tns:getListTitreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListComment">
      <wsdl:input message="tns:getListCommentSoapIn" />
      <wsdl:output message="tns:getListCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByISBNWS">
      <soap:operation soapAction="http://tempuri.org/SearchByISBNWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByAuthorWS">
      <soap:operation soapAction="http://tempuri.org/SearchByAuthorWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentBookWS">
      <soap:operation soapAction="http://tempuri.org/CommentBookWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTitre">
      <soap:operation soapAction="http://tempuri.org/getListTitre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListComment">
      <soap:operation soapAction="http://tempuri.org/getListComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByISBNWS">
      <soap12:operation soapAction="http://tempuri.org/SearchByISBNWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByAuthorWS">
      <soap12:operation soapAction="http://tempuri.org/SearchByAuthorWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentBookWS">
      <soap12:operation soapAction="http://tempuri.org/CommentBookWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTitre">
      <soap12:operation soapAction="http://tempuri.org/getListTitre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListComment">
      <soap12:operation soapAction="http://tempuri.org/getListComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:57407/WebServiceLibrary/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:57407/WebServiceLibrary/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>