Architectures_n-tiers/ServicesWeb/ClientDateDuJour/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsulterDateDuJourStructure">
        <s:complexType />
      </s:element>
      <s:element name="ConsulterDateDuJourStructureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsulterDateDuJourStructureResult" type="tns:DateJour" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DateJour">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="jour" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="mois" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="annee" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="heure" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="minute" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="seconde" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsulterDateDuJourString">
        <s:complexType />
      </s:element>
      <s:element name="ConsulterDateDuJourStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsulterDateDuJourStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConsulterDateDuJourStructureSoapIn">
    <wsdl:part name="parameters" element="tns:ConsulterDateDuJourStructure" />
  </wsdl:message>
  <wsdl:message name="ConsulterDateDuJourStructureSoapOut">
    <wsdl:part name="parameters" element="tns:ConsulterDateDuJourStructureResponse" />
  </wsdl:message>
  <wsdl:message name="ConsulterDateDuJourStringSoapIn">
    <wsdl:part name="parameters" element="tns:ConsulterDateDuJourString" />
  </wsdl:message>
  <wsdl:message name="ConsulterDateDuJourStringSoapOut">
    <wsdl:part name="parameters" element="tns:ConsulterDateDuJourStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourStructure">
      <wsdl:input message="tns:ConsulterDateDuJourStructureSoapIn" />
      <wsdl:output message="tns:ConsulterDateDuJourStructureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourString">
      <wsdl:input message="tns:ConsulterDateDuJourStringSoapIn" />
      <wsdl:output message="tns:ConsulterDateDuJourStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourStructure">
      <soap:operation soapAction="http://tempuri.org/ConsulterDateDuJourStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourString">
      <soap:operation soapAction="http://tempuri.org/ConsulterDateDuJourString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourStructure">
      <soap12:operation soapAction="http://tempuri.org/ConsulterDateDuJourStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsulterDateDuJourString">
      <soap12:operation soapAction="http://tempuri.org/ConsulterDateDuJourString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:64167/WebSite1/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:64167/WebSite1/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>